@import url(https://fonts.googleapis.com);
@import url(https://fonts.gstatic.com);
@import url(https://fonts.googleapis.com/css2?family=Poppins&display=swap);

/* General Styling */
body {
  margin: 0;
  padding: 20px;
  font-family: Poppins, sans-serif;
}

/* Form Styling */
form {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
}

.form-group {
  margin-bottom: 15px;
  width: 100%;
}

h1 {
  font-size: 2rem;
  font-weight: 700;
  display: block;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

input,
textarea {
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: 0.5s;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
}

textarea[readonly] {
  background-color: #eee;
  border: 1px solid black;
  height: 55px;
  padding: 0 2rem;
  width: 100%;
  outline: none;
  transition: 0.5s;
  font-size: 18px;
  border-radius: 100px;
  text-align: center;
}

/* Button Styling */
button {
  border: none;
  padding: 1rem;
  height: 55px;
  font-size: 18px;
  border-radius: 100px;
  text-transform: uppercase;
  cursor: pointer;
  margin-bottom: 30px;
  transition: 0.5s;
}

button:hover {
  background: black;
  color: white;
}
